{% extends 'root.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Default accordion</h4>
          <p class="card-description">Use class <code>.accordion</code> for basic accordion</p>
          <div class="mt-4">
            <div class="accordion" id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading-1">
                  <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                      How can I pay for an order I placed?
                    </a>
                  </h6>
                </div>
                <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                  data-bs-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <img src="{{url_for('static', filename='images/samples/300x300/10.jpg')}}" class="mw-100"
                          alt="image" />
                      </div>
                      <div class="col-9">
                        <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards,
                          or
                          via online banking.
                          We also on-delivery services.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-2">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-2" aria-expanded="false"
                      aria-controls="collapse-2">
                      I can’t sign in to my account
                    </a>
                  </h6>
                </div>
                <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                  data-bs-parent="#accordion">
                  <div class="card-body">
                    <p>If while signing in to your account you see an error message, you can do the following</p>
                    <ol class="pl-3 mt-4">
                      <li>Check your network connection and try again</li>
                      <li>Make sure your account credentials are correct while signing in</li>
                      <li>Check whether your account is accessible in your region</li>
                    </ol>
                    <br>
                    <p class="text-success">
                      <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-3">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-3" aria-expanded="false"
                      aria-controls="collapse-3">
                      Can I add money to the wallet?
                    </a>
                  </h6>
                </div>
                <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3"
                  data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="mb-0">You can add money to the wallet for any future transaction from your bank account
                      using net-banking, or credit/debit card transaction. The money in the wallet can be used for an
                      easier and faster transaction.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bordered accordions</h4>
          <p class="card-description">Use class <code>.accordion-bordered</code> for bordered accordions</p>
          <div class="mt-4">
            <div class="accordion accordion-bordered" id="accordion-2" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading-4">
                  <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                      How can I pay for an order I placed?
                    </a>
                  </h6>
                </div>
                <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4"
                  data-bs-parent="#accordion-2">
                  <div class="card-body">
                    <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards, or
                      via
                      online banking. We also provide cash-on-delivery services for most of our products. You can also
                      use
                      your account wallet for payment. </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-5">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-5" aria-expanded="false"
                      aria-controls="collapse-5">
                      I can’t sign in to my account
                    </a>
                  </h6>
                </div>
                <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5"
                  data-bs-parent="#accordion-2">
                  <div class="card-body">
                    <p>If while signing in to your account you see an error message, you can do the following</p>
                    <ol class="pl-3">
                      <li>Check your network connection and try again</li>
                      <li>Make sure your account credentials are correct while signing in</li>
                      <li>Check whether your account is accessible in your region</li>
                    </ol>
                    <br>
                    <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-6">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-6" aria-expanded="true"
                      aria-controls="collapse-6">
                      How can I deactivate my account?
                    </a>
                  </h6>
                </div>
                <div id="collapse-6" class="collapse show" role="tabpanel" aria-labelledby="heading-6"
                  data-bs-parent="#accordion-2">
                  <div class="card-body">
                    <p class="mb-0">If you wish to deactivate your account, you can go to the Settings page of your
                      account. Click on Account Settings and then click on Deactivate.
                      You can join again as and when you wish.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Filled accordions</h4>
          <p class="card-description">Use class <code>.accordion-filled</code> for Basic Accordion</p>
          <div class="accordion accordion-filled" id="accordion-40" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="heading-40">
                <h6 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapse-40" aria-expanded="false" aria-controls="collapse-40">
                    How can I pay for an order I placed?
                  </a>
                </h6>
              </div>
              <div id="collapse-40" class="collapse" role="tabpanel" aria-labelledby="heading-40"
                data-bs-parent="#accordion-40">
                <div class="card-body">
                  <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards, or via
                    online banking. We also provide cash-on-delivery services for most of our products. You can also use
                    your account wallet for payment. </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading-41">
                <h6 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapse-41" aria-expanded="false"
                    aria-controls="collapse-41">
                    I can’t sign in to my account
                  </a>
                </h6>
              </div>
              <div id="collapse-41" class="collapse" role="tabpanel" aria-labelledby="heading-40"
                data-bs-parent="#accordion-40">
                <div class="card-body">
                  <p>If while signing in to your account you see an error message, you can do the following</p>
                  <ol class="pl-3">
                    <li>Check your network connection and try again</li>
                    <li>Make sure your account credentials are correct while signing in</li>
                    <li>Check whether your account is accessible in your region</li>
                  </ol>
                  <br>
                  <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading-42">
                <h6 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapse-42" aria-expanded="true"
                    aria-controls="collapse-42">
                    How can I deactivate my account?
                  </a>
                </h6>
              </div>
              <div id="collapse-42" class="collapse show" role="tabpanel" aria-labelledby="heading-42"
                data-bs-parent="#accordion-40">
                <div class="card-body">
                  <p class="mb-0">If you wish to deactivate your account, you can go to the Settings page of your
                    account.
                    Click on Account Settings and then click on Deactivate.
                    You can join again as and when you wish.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Solid header accordion</h4>
          <p class="card-description">Use class <code>.accordion-solid-header</code> for basic accordion</p>
          <div class="mt-4">
            <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading-10">
                  <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-10" aria-expanded="true" aria-controls="collapse-10">
                      How can I pay for an order I placed?
                    </a>
                  </h6>
                </div>
                <div id="collapse-10" class="collapse show" role="tabpanel" aria-labelledby="heading-10"
                  data-bs-parent="#accordion-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <img src="{{url_for('static', filename='images/samples/300x300/10.jpg')}}" class="mw-100"
                          alt="image" />
                      </div>
                      <div class="col-9">
                        <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards,
                          or
                          via online banking.
                          We also on-delivery services.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-11">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-11" aria-expanded="false"
                      aria-controls="collapse-11">
                      I can’t sign in to my account
                    </a>
                  </h6>
                </div>
                <div id="collapse-11" class="collapse" role="tabpanel" aria-labelledby="heading-11"
                  data-bs-parent="#accordion-4">
                  <div class="card-body">
                    <p>If while signing in to your account you see an error message, you can do the following</p>
                    <ol class="pl-3 mt-4">
                      <li>Check your network connection and try again</li>
                      <li>Make sure your account credentials are correct while signing in</li>
                      <li>Check whether your account is accessible in your region</li>
                    </ol>
                    <br>
                    <p class="text-success">
                      <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-12">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-12" aria-expanded="false"
                      aria-controls="collapse-12">
                      Can I add money to the wallet?
                    </a>
                  </h6>
                </div>
                <div id="collapse-12" class="collapse" role="tabpanel" aria-labelledby="heading-12"
                  data-bs-parent="#accordion-4">
                  <div class="card-body">
                    <p class="mb-0">You can add money to the wallet for any future transaction from your bank account
                      using net-banking, or credit/debit card transaction. The money in the wallet can be used for an
                      easier and faster transaction.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Solid content accordion</h4>
          <p class="card-description">Use class <code>.accordion-solid-content</code> for basic accordion</p>
          <div class="mt-4">
            <div class="accordion accordion-solid-content" id="accordion-5" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading-13">
                  <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-13" aria-expanded="true" aria-controls="collapse-13">
                      How can I pay for an order I placed?
                    </a>
                  </h6>
                </div>
                <div id="collapse-13" class="collapse show" role="tabpanel" aria-labelledby="heading-13"
                  data-bs-parent="#accordion-5">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <img src="{{url_for('static', filename='images/samples/300x300/10.jpg')}}" class="mw-100"
                          alt="image" />
                      </div>
                      <div class="col-9">
                        <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards,
                          or
                          via online banking.
                          We also on-delivery services.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-14">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-14" aria-expanded="false"
                      aria-controls="collapse-14">
                      I can’t sign in to my account
                    </a>
                  </h6>
                </div>
                <div id="collapse-14" class="collapse" role="tabpanel" aria-labelledby="heading-14"
                  data-bs-parent="#accordion-5">
                  <div class="card-body">
                    <p>If while signing in to your account you see an error message, you can do the following</p>
                    <ol class="pl-3 mt-4">
                      <li>Check your network connection and try again</li>
                      <li>Make sure your account credentials are correct while signing in</li>
                      <li>Check whether your account is accessible in your region</li>
                    </ol>
                    <br>
                    <p class="text-danger">
                      <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-15">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-15" aria-expanded="false"
                      aria-controls="collapse-15">
                      Can I add money to the wallet?
                    </a>
                  </h6>
                </div>
                <div id="collapse-15" class="collapse" role="tabpanel" aria-labelledby="heading-15"
                  data-bs-parent="#accordion-5">
                  <div class="card-body">
                    <p class="mb-0">You can add money to the wallet for any future transaction from your bank account
                      using net-banking, or credit/debit card transaction. The money in the wallet can be used for an
                      easier and faster transaction.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Multi colored accordion</h4>
          <p class="card-description">Use class <code>.accordion-multi-colored</code> for basic accordion</p>
          <div class="mt-4">
            <div class="accordion accordion-multi-colored" id="accordion-6" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading-16">
                  <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-16" aria-expanded="false" aria-controls="collapse-16">
                      How can I pay for an order I placed?
                    </a>
                  </h6>
                </div>
                <div id="collapse-16" class="collapse" role="tabpanel" aria-labelledby="heading-16"
                  data-bs-parent="#accordion-6">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <img src="{{url_for('static', filename='images/samples/300x300/10.jpg')}}" class="mw-100"
                          alt="image" />
                      </div>
                      <div class="col-9">
                        <p class="mb-0">You can pay for the product you have purchased using credit cards, debit cards,
                          or
                          via online banking.
                          We also on-delivery services.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-17">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-17" aria-expanded="false"
                      aria-controls="collapse-17">
                      I can’t sign in to my account
                    </a>
                  </h6>
                </div>
                <div id="collapse-17" class="collapse" role="tabpanel" aria-labelledby="heading-17"
                  data-bs-parent="#accordion-6">
                  <div class="card-body">
                    <p>If while signing in to your account you see an error message, you can do the following</p>
                    <ol class="pl-3 mt-4">
                      <li>Check your network connection and try again</li>
                      <li>Make sure your account credentials are correct while signing in</li>
                      <li>Check whether your account is accessible in your region</li>
                    </ol>
                    <br>
                    <p class="text-danger">
                      <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our support.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="heading-18">
                  <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-18" aria-expanded="true"
                      aria-controls="collapse-18">
                      Can I add money to the wallet?
                    </a>
                  </h6>
                </div>
                <div id="collapse-18" class="collapse show" role="tabpanel" aria-labelledby="heading-18"
                  data-bs-parent="#accordion-6">
                  <div class="card-body">
                    <p class="mb-0">You can add money to the wallet for any future transaction from your bank account
                      using net-banking, or credit/debit card transaction. The money in the wallet can be used for an
                      easier and faster transaction.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}