{% extends 'root.html' %}

{% block content %}
<style>
  *{
    scroll-behavior: smooth;
  }
  p {
    font-size: 15px;
  }

  input[type=text] {
    font-size: 16px;
    font-weight: 600;
  }

  .btn-loading .btn-txt{
    visibility: hidden !important;
    opacity: 0 !important;
  }

  .btn-loading::after{
    content: "" !important;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    top: 5 !important;
    bottom: 5 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    border: 2px solid transparent !important;
    border-top-color: #ffffff !important;
    border-radius: 50% !important;
    animation: btn-loading-spinner 1s ease infinite !important;
  }

  @keyframes btn-loading-spinner {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
    
  }
</style>
<div class="content-wrapper">
  <div class="row justify-content-center mt-auto mb-auto" id="input-section">
    <div class="col-9">
      <div class="card card-body">
        <h3 class="text-center mt-2 mb-4" style="font-weight: 700;">CLICKBAIT IDENTIFICATION</h3>
        <p class="text-center">Melakukan identifikasi apakah judul yang anda masukkan terindikasi <i>clickbait</i> atau
          tidak</p>

        <div class="row justify-content-center mt-2">
          <div class="col-8">
            <input autocomplete="off" type="text" maxlength='250' oninput="limitChar(this)" class="form-control form-control-lg" placeholder="Judul Berita" id="headline">
            <p class="text-center" id="charCounter">250 Characters limit</p>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-3">
            <button class="btn btn-block w-100 btn-dark btn-custom" type="button" id="identify">
              <span class="btn-txt">Submit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5" id="result-section" hidden>
    <div class="col-9">
      <div class="card card-body">
        <h3 class="text-center mt-2 mb-4" style="font-weight: 700;">HASIL PREDIKSI</h3>
        <h4 class="text-center" style="font-style: italic;">"<span id="result-judul"></span>"</h4>
        <div class="row justify-content-center mt-2">
          <div class="col-5 text-center ml-lg-auto mr-lg-auto">
            <div id="prediksi" class="card card-body text-white p-3 w-75 mx-auto">
              <h4 class="text text-center" style="font-weight: 700;"></h4>
              <h5 class="accuracy text-center"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/main/demo.js')}}" type="text/javascript"></script>

{% endblock %}