<!-- plugins:js -->
<script src="{{url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
<script src="{{url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
<script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
<script src="{{url_for('static', filename='js/template.js')}}"></script>
<script src="{{url_for('static', filename='js/settings.js')}}"></script>
<script src="{{url_for('static', filename='js/todolist.js')}}"></script>
<!-- endinject -->