<!-- plugins:css -->
<link rel="stylesheet" href="{{url_for('static', filename='vendors/feather/feather.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/ti-icons/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/typicons/typicons.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/simple-line-icons/css/simple-line-icons.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/css/vendor.bundle.base.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/vertical-layout-light/style.css')}}">
<!-- endinject -->