<nav class="sidebar sidebar-offcanvas mt-4" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{'/'}}">
        <i class="mdi mdi-alpha-i-circle-outline menu-icon"></i>
        <span class="menu-title">Demo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{'/eval'}}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Evaluasi</span>
      </a>
    </li>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{{'/accordions'}}">Accordion</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{'/formcontrol'}}">Basic Element</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>